<launch>

	<!-- Execute tank_camera_robot launch file -->
	<!-- Located at package: tank_camera -->
	<!-- Named as: tank_camera_robot.launch -->
	<include file="$(find tank_camera)/launch/camera_robot.launch" />

	<!-- Execute face_detection launch file -->
	<!-- Located at package: tank_camera -->
	<!-- Named as: face_detection.launch -->
	<include file="$(find tank_camera)/launch/face_detection.launch" />
</launch>
